@import "./src/Common.scss";
$font-color: $fontDark;

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;

  .modalBody {
    max-width: 550px;
    max-height: 550px;
    min-width: 400px;
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: $lightColor;

    .introduceBox {
      padding: 0 0 30px;
    }

    .loginTitle {
      background-color: transparent;
      color: $font-color;
      padding: 40px 0 10px;
      margin: 0;
      font: 26px "Suisse Regular", sans-serif;
    }

    .loginSub {
      color: #666666;
      line-height: 1.7;
      font: 16px "Suisse Regular", sans-serif;
    }

    .formText {
      width: 100%;
      font: 16px "Suisse Regular", sans-serif;
      margin: 0 0 30px;
      padding: 30px 10px 0;
      color: $font-color;
      // border-bottom: 1px solid;
    }

    label {
      display: flex;
      position: relative;
      width: 100%;
    }

    .formTextInput {
      width: 100%;
      padding: 8px 0;
      line-height: 1;
      border: none;
      border-bottom: 1px solid black;
      background-color: transparent;
      outline: none;
    }

    .formTextLabel {
      color: #666;
      line-height: 1.75;
      left: 0;
      bottom: 0;
      font-size: inherit;
      position: absolute;
      transition: all 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    .activeBTN {
      margin: 25px 0 0;
      padding: 21px 23px;
      width: 100%;
      border: none;
      outline: none;
      background-color: #333;
    }

    .unactiveBTN {
      margin: 25px 0 0;
      padding: 21px 23px;
      width: 100%;
      border: none;
      outline: none;
      background-color: rgb(239, 239, 239);
    }

    .btnContent {
      color: #fffef2;
    }

    .signUpcolor {
      margin: 25px 0 0;
      padding: 21px 23px;
      width: 100%;
      background: $fontDark;
    }

    .signUpBtn {
      color: $lightColor;
    }
  }
}
