$font-color: #333;

.productContainer {
  height: 800px;
  background-image: url("https://www.aesop.com//medias/1Aesop-Citrus-Melange-Body-Cleanser-2020-Hybris-Homepage-Primary-Full-Bleed-Desktop-4000x1450px.jpg?context=bWFzdGVyfGltYWdlc3w1NTg0NDJ8aW1hZ2UvanBlZ3xpbWFnZXMvaGE4L2gyNC85NDQzODk4ODg0MTI2LmpwZ3xjYzE4NDVhNmZkMDM0M2QxZDJiNGE4ZDkwNzI4ZGM1MmQxNjg0NzYxM2JjOGQ2OTFkNDhiZjI0MjViOGJlYTlm");
  background-size: cover;
  background-position-x: -300px;
  opacity: 1;

  .productContainerNotYetShown {
    opacity: 0;
    transition: opacity 900ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .logoContainer {
    cursor: pointer;

    svg {
      width: 100px;
      top: 195px;
      position: absolute;
      left: 40px;
    }
  }

  .contentContainer {
    width: 590px;
    margin-left: 288px;
    padding-top: 180px;
    font-family: "Suiss Regular", sans-serif;
    color: $font-color;

    .contentTitle {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 100;
    }

    .contentH1 {
      font-size: 30px;
    }

    .contentBody {
      margin-top: 40px;
      font-size: 16px;
      line-height: 1.8;
    }

    .detailLink {
      width: 210px;
      height: 60px;
      margin-top: 30px;
      padding-top: 20px;
      padding: 0 23px;
      border: 1px solid rgba(51, 51, 51, 0.2);
      font-size: 14px;
      color: $font-color;
      transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1),
        background-color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;

      &:hover {
        background-color: $font-color;
        color: #fffef2;

        svg {
          fill: #fffef2;
        }
      }

      .detailContent {
        padding-top: 21px;
        display: flex;
        justify-content: space-between;

        svg {
          width: 12px;
        }
      }
    }
  }
}
