.Quote {
  width: 100%;
  border: 1px solid #dad9d0;
  border-width: 0 0 1px 0;

  .quoteContent {
    margin: 150px 0;
    text-align: center;
    color: #333;

    .quoteParagraph {
      font-family: "Zapf", serif;
      font-size: 30px;
      -webkit-font-smoothing: antialiased;
    }

    .quoteAuthor {
      font-family: "Suisse Regular";
      font-size: 17px;
    }
  }
}
