@import "./src/Common.scss";
$font-family: "Suisse Regular", sans-serif;

.Mapcomponent {
  .textTitleBOX {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    opacity: 1;
    overflow: hidden;
    transition: all 100ms;
    background-color: #f6f5e8;

    .introTitle {
      padding: 80px 34px;
      width: 33%;
      height: 700px;

      .introDescription {
        color: #252525;
        font-size: 14px;
        padding-bottom: 40px;
        font-family: $font-family;

        .introDescriptionHeadline {
          margin: 20px 0;
          font-size: 3rem;
          line-height: 1.33;
          font-family: "Zapf Humanist", serif;
          font-weight: normal;
        }

        .introDescriptionINFO {
          font-size: 16px;
          line-height: 1.6;
          margin: 0;
          padding: 0;
          font-weight: normal;
          font-family: $font-family;
        }
      }

      .Underbarcontrol {
        bottom: 0;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
