@import "./src/Common.scss";

.Productslider {
  .light {
    background-color: $lightColor;
  }

  .dark {
    background-color: $darkColor;
  }

  .SliderContainer {
    display: flex;
    overflow: hidden;
    background-color: $lightColor;
    color: $darkColor;

    .sliderContents {
      position: relative;

      .sliderContensWrap {
        display: flex;
        position: absolute;

        .slick-next {
          left: 1310px;
        }

        .slick-prev:before {
          background-color: $darkColor;
          content: "<";
          padding: 30px;
        }

        .slick-next:before {
          background-color: $darkColor;
          content: ">";
          padding: 30px;
        }
      }
    }
  }
}

.slick-disabled {
  display: none !important;
}
