@import "./src/Common.scss";

.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
  height: 530px;
  &:hover {
    background-color: $lightGray;
  }

  .imgContainer {
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 430px;

    img {
      width: 100%;
    }
  }

  .productInfo {
    padding-bottom: 40px;

    .name {
      font-weight: normal;
      color: $fontDark;
      text-align: center;
      margin: 0 0 10px;
    }
    .sizePrice {
      padding: 0 40px;

      span {
        color: $fontLight;
      }
      .seperator {
        margin: 0 5px;
      }
    }
  }
}
