$font-color: #333;

.ProductList {
  * {
    list-style: none;
    font-family: "Suisse Regular";
  }

  .productTitleContainer {
    background-color: #f5f5e8;
  }

  .productTitleBox {
    display: flex;
    margin: 0 25px;

    .productTitle {
      display: flex;
      align-items: center;
      color: $font-color;
      margin: 0;
      height: 80px;
      top: 50%;
    }
  }

  .productFilterContainer {
    background-color: #eaeadd;

    .productFilterBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 25px;

      .productFilterNav {
        display: flex;
        margin: 0;
        padding: 45px 0;
        padding-left: 0;

        li {
          padding: 0 10px;
          font-size: 14px;
          color: #666666;
        }

        li:first-child {
          padding-left: 0;
        }

        li span {
          text-transform: uppercase;
          cursor: pointer;
        }

        li span:after {
          display: block;
          content: "";
          border-bottom: 1px solid black;
          transform: scaleX(0);
          transition: transform 300ms ease-in-out;
        }

        li span:hover:after {
          transform: scaleX(1);
          transform-origin: left;
        }

        li .start {
          border-bottom: 1px solid black;
        }
      }

      .filterBtn {
        background-color: #eaeadd;
        border: 0.5px solid gray;
        cursor: pointer;

        &:hover {
          background-color: $font-color;
          color: white;
          fill: white;
        }

        .filterBox {
          display: flex;
          align-items: center;

          .btnIcon {
            width: 15px;
            height: 10px;
            margin-left: 23px;
          }
        }
      }
    }
    .productFilter .filterBtn {
      height: 60px;
      padding: 21px 23px;
    }
  }
}
