@import "./src/Common.scss";

.Offingredient {
  display: none;
}

.overlay {
  width: calc(100% * 1 / 2);
  top: 0;
  left: 0;
  animation: 1000ms 1ms slide-right--100 cubic-bezier(0.32, 0.24, 0.15, 1)
    forwards;
  transform: translate(-100%, 0);
  background-color: $lightColor;
  height: 100%;
  position: fixed;

  @keyframes slide-right--100 {
    0% {
      transform: translate(-200%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .ClickIngredientContainer {
    position: fixed;
    background-color: #f1f0e8;
    z-index: 1;
    height: 100vh;

    .productIngredientWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50%;
      padding: 0 180px;

      .content {
        margin: 50px 0;

        li {
          color: $fontDark;
          font-size: 14px;
          margin: 25px 0;
          line-height: 1.7;

          &:last-child {
            font-size: 16px;
          }
        }
      }
    }

    .closeBtn {
      position: absolute;
      background-color: inherit;
      border-style: none;
      cursor: pointer;
      width: 30px;
      right: 30px;
      top: 30px;

      .closeBtnIcon {
        width: 12px;
        height: 12px;
      }
    }
  }
}
