@import "./src/Common.scss";

//<-- onClick IngredienPage -->
.darkTop {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 2;
}

.lightTop {
  background-color: $lightColor;
}

.Productdetails {
  font-family: "Suisse Regular";
  color: $fontDark;

  //<-- Top Details -->
  .details {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    margin-top: 125px;

    .logoAndImg {
      display: flex;
    }

    .imageContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 50px;
      margin-right: 25px;
      width: 540px;
      height: 550px;

      img {
        width: 100%;
      }
    }

    .productInfo {
      width: 480px;
      height: 510px;
      margin-right: 120px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;

      .sortContainer {
        display: flex;

        li {
          font-size: 14px;
        }

        .circlePoint {
          list-style: disc;
          margin-left: 25px;
        }
      }

      .productName {
        display: flex;

        .name {
          font-weight: normal;
          margin: 25px 0;
          font-size: 30px;
        }
      }

      .productExplanation {
        border-bottom: 2px solid $fontDark;
        padding-bottom: 25px;

        .explan {
          font-size: 14px;
        }
      }

      .infoContainer {
        font-size: 14px;
        .infoList li {
          padding: 10px 0;
          border-bottom: 1px solid lightgray;

          &:last-child {
            border: none;
          }
        }

        .ingredientWrap {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .on {
            transform: rotate(45deg);
          }
          .moreBtn {
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: inherit;
            border: 1px solid black;
            transition-duration: 350ms;

            .moreBtnIcon {
              font-weight: normal;
              font-size: 18px;
              width: 100%;
              padding-top: 1px;
            }

            &:hover {
              background-color: $fontDark;

              .moreBtnIcon {
                color: $lightColor;
                padding-top: 1px;
              }
            }
          }
        }

        .infoList > li > .description {
          color: $fontLight;
        }
        div {
          padding: 5px 0;
        }

        .cartAdd {
          width: 470px;
          height: 60px;
          margin-right: 25px;
          padding-right: 25px;

          .cartBtn {
            width: inherit;
            height: inherit;
            color: $lightColor;
            background-color: $fontDark;
            border: none;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              background-color: black;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  //<-- Center Explanation -->
  .useExplanation {
    display: flex;
    height: 100vh;

    .productVideoContainer {
      width: calc(100% * 1 / 2);
      top: 0;
      left: 0;
      animation: 1000ms 1ms slide-right--100 cubic-bezier(0.32, 0.24, 0.15, 1)
        forwards;
      transform: translate(-100%, 0);
      background-color: $lightColor;
      height: 100%;

      @keyframes slide-right--100 {
        0% {
          transform: translate(-200%, 0);
        }
        100% {
          transform: translate(0, 0);
        }
      }
    }

    .imgBox {
      position: relative;
      height: 980px;

      .explanImg {
        width: 50vw;
        height: 100%;
      }

      .vediobtnBox {
        position: absolute;
        width: 100px;
        height: 30px;
        left: 25px;
        bottom: 50px;

        .vedioBtn {
          display: flex;
          align-items: center;
          background-color: inherit;
          border: none;
          cursor: pointer;
          height: 30px;
          width: 150px;

          .btnIconWrap {
            display: flex;
            align-items: center;

            &:hover {
              .iconBox {
                background-color: $fontDark;
              }
              .iconPlay {
                fill: white;
              }
              .btnText {
                color: $fontDark;
              }
            }

            .iconBox {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
              border-radius: 50%;
              width: 30px;
              height: 30px;
            }

            .iconPlay {
              width: 8px;
              height: 12px;
            }

            .btnText {
              margin-left: 10px;
              color: white;
            }
          }
        }
      }
    }

    .imgVedioContainer {
      background-color: $grayColor;
      width: 50%;
    }
    .light {
      background-color: $lightGray;
    }

    .dark {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .explanationContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding: 0 150px;
      font-size: 14px;

      .explanList {
        .howToUse {
          h2 {
            font-family: "Zapf";
            font-weight: normal;
            color: $fontDark;
            margin: 25px 0;
            font-size: 30px;
          }
        }

        li {
          padding: 10px 0;
          border-bottom: 1px solid lightgray;
          &:first-child {
            border-bottom: 2px solid black;
          }
          &:last-child {
            border: none;
          }

          div {
            padding: 5px 0;
          }
        }

        .description {
          color: $fontLight;
        }
      }
    }
  }

  //<-- Bottom Recommend -->
  .recommend {
    display: flex;

    position: relative;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
    height: 780px;
    width: 100%;
    padding: 100px 0 100px 100px;
    margin-bottom: 20px;

    .recommendIntro {
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 530px;

      .introTitle {
        width: 100%;
        font-size: 2.3rem;
      }

      .content {
        margin-top: 50px;
        width: 100%;

        p {
          color: $fontDark;
          line-height: 1.5;
        }
      }

      .introTitle,
      .content {
        width: 360px;
      }
    }

    .prodcutContainer {
      position: relative;
      width: 320px;
      height: 530px;

      .productWrapper {
        display: flex;
        position: absolute;
        width: 100%;

        .slick-next {
          left: 1220px;
        }

        .slick-prev:before {
          background-color: $fontDark;
          content: "<";
          padding: 30px;
        }

        .slick-next:before {
          background-color: $fontDark;
          content: ">";
          padding: 30px;
        }

        .slick-disabled {
          display: none !important;
        }
      }
    }

    .progressBar {
      position: absolute;
      width: 90%;
      border-bottom: 2px solid $fontDark;
      height: 5px;
      bottom: 100px;
    }
  }
}
