@import "./src/Common.scss";

.Nav {
  width: 100%;
  height: 69px;
  padding-top: 26px;
  background-color: transparent;
  font-family: "Suisse Regular", sans-serif;
  color: $fontDark;

  .navList {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      margin-right: 25px;
      font-size: 14px;
      cursor: pointer;

      a {
        border-bottom: solid 1px transparent;
        color: $fontDark;
        text-decoration: none;
        cursor: pointer;

        &:hover::after {
          transform: scaleX(1);
        }

        &::after {
          margin-top: 2px;
          display: block;
          content: "";
          border-bottom: solid 1px $fontDark;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }
      }
    }

    .navLeft {
      margin-left: 25px;
      display: flex;
    }
  }
  .navRight {
    margin-right: 25px;
    display: flex;

    .cartDot {
      width: 3px;
      height: 3px;
      margin-top: 3px;
      padding: 4px;
      background-color: #252525;
      border-radius: 100%;
      border: none;
      content: "";
      cursor: pointer;

      &:hover {
        transform: scale(1.5);
        transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &::after {
        content: attr(data-count);
      }
    }
  }
}
