@import "../../Common.scss";

.SkinDetail {
  width: calc(100% * 1 / 3);
  height: 100%;
  position: fixed;
  top: 0;
  left: calc(100% * 2 / 3);
  background-color: $lightColor;
  border-left: 1px solid $grayColor;
  z-index: 1;
  animation: 1000ms 1ms slide-right--100 cubic-bezier(0.32, 0.24, 0.15, 1)
    forwards;
  transform: translate(-100%, 0);

  @keyframes slide-right--100 {
    0% {
      transform: translate(-100%, 0);
    }

    100% {
      transform: translate(0, 0);
    }
  }

  .panelList {
    padding-left: 40px;
    padding-top: 220px;
    overflow: hidden;
    font-family: "Suisse Regular", sans-serif;
    font-weight: 100;

    .panelLink {
      color: $fontDark;
      font-size: 22px;
      line-height: 1.7;
      text-decoration: none;
      cursor: pointer;

      &:hover::after {
        border-bottom: 1px solid #333;
        transform: scaleX(1);
        transition: transform 500ms ease;
      }

      &::after {
        margin-top: 2px;
        display: block;
        border-bottom: solid 1px $fontDark;
        content: "";
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms;
      }
    }

    .productInfo {
      width: 80%;
      margin-top: 20px;
      font-size: 14px;

      .productLink {
        color: $fontDark;
        text-decoration: none;

        li {
          display: flex;
          justify-content: space-between;

          .infoImgContainer {
            width: 20%;

            .infoImg {
              max-width: 50px;
              max-height: 64px;
            }
          }

          .infoDesc {
            .infoName {
              font-size: 14px;
            }

            span {
              display: block;
              line-height: 1.8;
            }
          }
        }
      }
    }
  }
}
