@import "./src/Common.scss";

.HiddenAppointment {
  opacity: 0;
}

.Appointment {
  width: 100%;
  height: 700px;
  margin-bottom: 80px;
  display: flex;
  opacity: 1;
  transition: opacity 800ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);

  .appointmentContent {
    width: 40%;
    height: 100%;
    padding: 0 40px;
    margin-left: 60px;
    margin-right: 100px;
    font-family: "Suisse Regular", sans-serif;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.7;
    color: $fontDark;

    .apTitle {
      font-size: 14px;
    }

    .apTitle2 {
      margin-top: 30px;
      margin-bottom: 40px;
      font-family: "Zapf";
      font-size: 30px;
      font-weight: 100;
    }

    .detailLink {
      width: 210px;
      height: 60px;
      margin-top: 30px;
      padding-top: 20px;
      padding: 0 23px;
      border: 1px solid rgba(51, 51, 51, 0.2);
      font-size: 14px;
      color: $fontDark;
      transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1),
        background-color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;

      &:hover {
        background-color: #333;
        color: $lightColor;

        svg {
          fill: $lightColor;
        }
      }

      .detailContent {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;

        svg {
          width: 12px;
        }
      }
    }
  }

  .appointmentImg {
    width: 60%;

    .relaxImg {
      width: 100%;
      height: 700px;
    }
  }
}
